## This is for the Presentation

In [195]:
import numpy as np
import pandas as pd
import math
import random

import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sklearn.preprocessing import StandardScaler

In [196]:
NUM_COLS = 5

In [197]:
domain = np.arange(1, 6, 1, dtype=float)
X = []
for x in domain:
    row = []
    for col in range(NUM_COLS):
        row.append(x)
    X.append(row)

In [198]:
df_shuffled = pd.DataFrame(X, columns=[f'X[{i}]' for i in range(NUM_COLS)])
display(df_shuffled)

   X[0]  X[1]  X[2]  X[3]  X[4]
0   1.0   1.0   1.0   1.0   1.0
1   2.0   2.0   2.0   2.0   2.0
2   3.0   3.0   3.0   3.0   3.0
3   4.0   4.0   4.0   4.0   4.0
4   5.0   5.0   5.0   5.0   5.0

In [199]:
funcs = {
    'sin(X[0])': lambda x : math.sin(x),
    'cos(X[1])': lambda x : math.cos(x), 
    'X[2] + 1': lambda x: x + 1,
    'X[3] - 1': lambda x: x - 1,
    'X[4]^2': lambda x: x ** 2,
}

In [200]:
def column_wise_shuffle(dataframe):
    serieses = {}
    for column in dataframe.columns:
        shuffled = dataframe[column].sample(frac=1).values
        series = pd.Series(shuffled)
        serieses[column] = series
    return pd.DataFrame(serieses)

In [201]:
df_shuffled = column_wise_shuffle(df_shuffled)
display(df_shuffled)

   X[0]  X[1]  X[2]  X[3]  X[4]
0   3.0   5.0   3.0   5.0   3.0
1   4.0   2.0   2.0   2.0   1.0
2   1.0   3.0   4.0   1.0   5.0
3   5.0   1.0   5.0   3.0   4.0
4   2.0   4.0   1.0   4.0   2.0

In [202]:
def apply_funcs(dataframe):
    funcs = [
        lambda x: x + 1,
        lambda x: x - 1,
        lambda x: x ** 2,
        lambda x: 2 * x,
        lambda x: 10 - x
    ]
    new_df = dataframe.copy()
    new_columns = []
    for i in range(len(dataframe.columns)):
        func = funcs[i]
        new_df[dataframe.columns[i]] = new_df[dataframe.columns[i]].apply(func)
        new_columns.append(f'F_{i}({dataframe.columns[i]})')
    new_df.columns = new_columns
    return new_df

In [203]:
df = apply_funcs(df_shuffled)
display(df)

   F_0(X[0])  F_1(X[1])  F_2(X[2])  F_3(X[3])  F_4(X[4])
0        4.0        4.0        9.0       10.0        7.0
1        5.0        1.0        4.0        4.0        9.0
2        2.0        2.0       16.0        2.0        5.0
3        6.0        0.0       25.0        6.0        6.0
4        3.0        3.0        1.0        8.0        8.0

In [204]:
Y = pd.Series(df.values.mean(axis=1))
df_shuffled['Y[i]'] = Y
display(df_shuffled)

   X[0]  X[1]  X[2]  X[3]  X[4]  Y[i]
0   3.0   5.0   3.0   5.0   3.0   6.8
1   4.0   2.0   2.0   2.0   1.0   4.6
2   1.0   3.0   4.0   1.0   5.0   5.4
3   5.0   1.0   5.0   3.0   4.0   8.6
4   2.0   4.0   1.0   4.0   2.0   4.6